{% extends 'layout.html' %}
{% block content %}
<!-- Nav bar section -->
<div class="navbar-edit">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand">Toxic Quotes</a>
        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-start" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a href="{{ url_for('home') }}" class="nav-link">Home</a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a href="{{ url_for('logout') }}" class="nav-link">Logout</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('account') }}" class="nav-link">Account</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('quotes_manager') }}" class="nav-link"><strong>Manage your post</strong></a>
                </li>
                {% else %}
                <a href="{{ url_for('login') }}" class="nav-link">Login</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('register') }}" class="nav-link">Sign Up</a>
                </li>
                {% endif  %}
            </ul>

        </div>
    </nav>
</div>

<!-- header section -->

<section id="header">
    {% if current_user.is_authenticated %}
    <div class="container">
        <h1>Toxic Quotes<br>Home Of Mind-Blowing Inspirational Quotes </h1>
        <p class="text">Welcome aboard, Check out our quotes gallery</p>
        <button type="button" class="btn btn-primary"><a href="{{ url_for('createpost') }}" class="q-link">Post A
                Quote</a></button>
        {% else %}
        <div class="container">
            <h1>Toxic Quotes<br>Home Of Mind-Blowing Inspirational Quotes </h1>
            <p class="text">Create A Free Account To Post Your Own Inspirational Quotes</p>
            <a class="btn btn-success" role="button" href="{{ url_for('register') }}">Create An Account</a> or
            <a class="btn btn-primary" role="button" href="{{ url_for('login') }}" class="q-link">Log In</a>
        </div>
        {% endif %}
</section>

<!-- Who are we section -->
<div id="about-wrapper">
    <div class="aboutus">
        <h1>Who are TQ?</h1>
        <p>Toxic Quotes Is An Online Quotes Website Designed By Hanslett In 
            Order To Provide Motivational And Inspirational Quotes For All Its Users. Lorem ipsum, dolor sit amet 
            consectetur adipisicing elit. Magnam voluptatem esse repellendus est, 
            sunt deserunt dicta eligendi aperiam soluta eveniet omnis ratione, 
            at provident a molestias temporibus iste, libero ipsa quod qui animi molestiae. 
            Quam sunt dignissimos nobis provident, dolorem distinctio et corporis itaque 
            reprehenderit, nemo eveniet, dolore deleniti possimus.</p>
        </div>

    <div class="aboutus2">
        <h1>What services do we provide?</h1>
        <p>Our Services Include Free Quote Notifications To Your Devices For Free! Start Each Day With An Inspiring Quote
            Lorem ipsum, dolor sit amet 
            consectetur adipisicing elit. Magnam voluptatem esse repellendus est, 
            sunt deserunt dicta eligendi aperiam soluta eveniet omnis ratione, 
            at provident a molestias temporibus iste, libero ipsa quod qui animi molestiae. 
            Quam sunt dignissimos nobis provident, dolorem distinctio et corporis itaque 
            reprehenderit, nemo eveniet, dolore deleniti possimus
        </p>
    </div>

    <div class="aboutus3">
        <h1>What makes TQ different?</h1>
        <p>We Are Free, No Ads, Just Us To Daily Motivate You With Mind-Blowing Quotes To Share With Your Friends And Kickstart Your Day
            Lorem ipsum, dolor sit amet 
            consectetur adipisicing elit. Magnam voluptatem esse repellendus est, 
            sunt deserunt dicta eligendi aperiam soluta eveniet omnis ratione, 
            at provident a molestias temporibus iste, libero ipsa quod qui animi molestiae. 
            Quam sunt dignissimos nobis provident, dolorem distinctio et corporis itaque 
            reprehenderit, nemo eveniet, dolore deleniti possimus
        </p>
    </div>
</div>

<!-- Main Body Sections -->
<section id="Quotes-section">
    <h1 class="Q1">Quotes Gallery</h1>
    <div class="btn-group">
        <h4 class="alert alert-info">#Motivational_quotes👇</h4>
    </div>
    <div class="wrapper">
        {% for post in posts %}
        {% if post.category == '#motivational' %}
        <div class="flex1">
            <p>"{{ post.quote }}" <br> - <strong>{{ post.author.username }}</strong></p>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</section>

<!-- Main Body Section  -->
<section id="footer">
    <div class="container">
        <div class="icons">
            <a class="svg-icons" href=""><i class="fab fa-facebook-f "></i></a>
            <a class="svg-icons" href=""><i class="fab fa-youtube"></i></a>
            <a class="svg-icons" href=""><i class="fab fa-instagram "></i></a>
            <a class="svg-icons" href=""><i class="fab fa-twitter"></i></a>
            <a class="svg-icons" href=""><i class="fab fa-telegram "></i></a>
        </div>
        <div class="box">
            <p>Toxic Quotes Copyright 2020</p>
            <p>©All Rights Resereved</p>
        </div>
    </div>
</section>

<script src="{{ url_for('static', filename='js/index.js') }}"></script>

{% endblock content %}