{% extends 'layout.html' %}
<title>{{ title }}</title>
{% block content %}
<!-- title -->
<div class="navbar-edit">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand">Toxic Quotes</a>
        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-start" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a href="{{ url_for('home') }}" class="nav-link">Home</a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="{{ url_for('logout') }}" class="nav-link">Logout</a>
                </li>
            </ul>

        </div>
    </nav>
</div>

<section>
    <header>
        <hr><h4>Manage Your Post</h4>
            <p>edit and delete your post on the fly</p>
        <hr>
    </header>
    {% for post in posts %}
    {% if post.author == current_user %}
    <div class="container">
        <div class="col-sm-12">
            <p><b>Quote Message:</b> {{ post.quote }}</p>
            <p><b>Date Posted:</b> {{ post.date_posted.strftime('%Y-%m-%d') }}</p>
            <p><b>Author: {{ post.author.username }}</b></p>
            <button class="btn btn-danger"><a href="/manage_posts/delete/{{ post.id }}">Delete</a></button>
            <button class="btn btn-warning">edit</button>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</section>
{% endblock content %}
    
