#virtual env files and py cache files
venv/
quotes/__pycache__/
quotes/main/__pycache__/
quotes/quotes_posts/__pycache__/
quotes/users/__pycache__/

quotes/errors/__pycache__/
# some files
runtime.txt
__pycache__
/*.db


