{% extends 'layout.html' %}
{% block content %}
<div class="navbar-edit">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand">Toxic Quotes</a>
        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-start" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a href="{{ url_for('main.home') }}" class="nav-link">Home</a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a href="{{ url_for('users.logout') }}" class="nav-link">Logout</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('users.account') }}" class="nav-link">Account</a>
                </li>
                {% else %}
                <a href="{{ url_for('users.login') }}" class="nav-link">Login</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('users.register') }}" class="nav-link">Sign Up</a>
                </li>
                {% endif  %}
            </ul>

        </div>
    </nav>
</div>
<section id="Quotes-section">
    <div style="text-align: center">
        <h1>Opps.. Page Not Found (404)</h1>
        <p>That page does not exist. Please try a different route</p>
    </div>
</section>
{% endblock content %}